@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
:root{
   --violet: hsl(263, 55%, 52%);
   --dark-grayish-blue: hsl(217, 19%, 35%);
   --blackish-blue: hsl(219, 29%, 14%);
   --white: hsl(0, 0%, 100%);
   --light-gray: hsl(0, 0%, 81%);
   --grayish-blue: hsl(210, 46%, 95%);
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html{
   background-color: var(--grayish-blue);
   height: 100vh;
   width: 100vw;
   font-size: 13px;
   color: var(--white);
   font-family: 'Barlow Semi Condensed', sans-serif;
}

body{
   width: 70vw;
   margin: 108px auto;
}

.wrapper {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(2, 1fr);
   grid-column-gap: 20px;
   grid-row-gap: 18px;
}

.cards{
   border-radius: 6px;
   height: 214px;
   padding: 10px;
   box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

.card-one { 
   position: relative;
   background-color: var(--violet);

   background-image: url(./images/bg-pattern-quotation.svg);
   background-repeat: no-repeat;
   background-position: 80% top;
   background-size: 94px;

   grid-row-start: 1;
   grid-row-end: 2;
   
   grid-column-start: 1;
   grid-column-end: 3;
}
.card-two { 
   background-color: var(--dark-grayish-blue);

   grid-row-start: 1;
   grid-row-end: 2;

   grid-column-start: 3;
   grid-column-end: 4;
}
.card-three { 
   color: var(--dark-grayish-blue);
   background-color: var(--white);

   grid-row-start: 2;
   grid-row-end: 3;

   grid-column-start: 1;
   grid-column-end: 2;
}
.card-four { 
   background-color: var(--blackish-blue);

   grid-row-start: 2;
   grid-row-end: 3;

   grid-column-start: 2;
   grid-column-end: 4;
}
.card-five {
   color: var(--dark-grayish-blue);
   background-color: var(--white);
   height: fit-content;

   grid-row-start: 1;
   grid-row-end: 3;

   grid-column-start: 4;
   grid-column-end: 5;
}

.info{
   display: flex;
   align-items: start;
   margin: 10px auto;
}

img{
   width: 26px;
   margin: auto 0px auto 20px;
   border-radius: 30px;
}

.card-three .header-info{
   font-size: 20px;
}

p{
   width: fit-content;
   margin: 0 20px;
}

.header-info{
   font-weight: 600;
   margin-bottom: 10px;
   font-size: 16px;
   line-height: 22px;
}

.comment-info{
   height: fit-content;
   opacity: 70%;
   font-size: 11.5px;
}

.veridied{
   opacity: 50%;
}

.attribution { 
   color: var(--dark-grayish-blue);
   font-size: 11px; 
   text-align: center; 
}
.attribution a { 
   color: hsl(228, 45%, 44%); 
}


/*RESPONSIVIDADE*/
@media screen and (max-width: 426px){
   body{
      margin: 10px auto;
      width: 375px;
   }

   .wrapper{
      display: flex;
      flex-direction: column;
      
   }

   .cards{
      width: 86%;
      margin: auto;
      height: fit-content;
   }
}